<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/menu.css">
</head>
<body>
	<div id="menuList" class="d-flex flex-column align-items-center">
		<button id="trainee" class="menuButton" onclick="location.href='/trainee'">연습생 관리</button>
		<button id="debut" class="menuButton" onclick="location.href='/debut'">데뷔조 관리</button>
		<button id="care" class="menuButton" onclick="location.href='/care'">케어 관리</button>
		<button id="careHistory" class="menuButton" onclick="location.href='/careHistory'">케어 기록</button>
		<button id="lesson" class="menuButton" onclick="location.href='/lesson'">수업 관리</button>
		<button id="lessonHistory" class="menuButton" onclick="location.href='/lessonHistory'">수업 기록</button>
	</div>
	<script type="text/javascript" src="/js/menu.js"></script>
</body>
</html>