<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/base :: base(~{::link})">
    <meta charset="UTF-8">
    <title>케어 관리</title>
    <link rel="stylesheet" type="text/css" href="/css/lesson.css">
	<link rel="stylesheet" type="text/css" href="/css/newModal.css">
</head>
<body>
    <div th:insert="common/header"/></div>
	<div class="modal">
        <div class="modal_popup" th:insert="pages/careNew"></div>
    </div>
    <div id="content" class="d-flex">
        <div th:insert = "common/menu"></div>
        <div id="rightBox">
            <button id="newButton"></button>
            <div id="infoWrapper">
                <div th:if="${cares != null}" th:each="care : ${cares}" class="d-flex justify-content-between align-items-center careInfo">
                        <div id="careCategory" th:text="${care.category}"></div>
                        <div id="careCost" th:text="${care.cost}"></div>
                            <button id="deleteButton" type="button" th:onclick="|location.href='@{/care/delete(id=${care.id})}'|"></button>
                        </div>
                    </div>
                </div>
            </div>

    <script th:inline = "javascript">
    	const msg = /*[[${msg}]]*/ "";
    </script>
    <script type="text/javascript" src="/js/modal.js"></script>
	<script type="text/javascript" src="/js/careNew.js"></script>	
</body>
</html>
