<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <form th:action="@{/care/save}" method="post" th:object="${newCare}" id="form" class="d-flex flex-column justify-content-center align-items-center h-100 my-5">
        <h3 id="title">새 케어 정보 등록</h3>
        <input id="category" name="category" type="text" placeholder="케어 항목을 입력해주세요." />
        <input id="cost" name="cost" type="number" placeholder="케어 가격을 입력해주세요." />
        <div id="msg"></div>
        <div class="modalButtons">
            <button class="confirmButton" type="button" th:onClick="checkInput()">추가</button>
            <button class="closeButton" type="button" th:onclick="closeNewModal()">닫기</button>
        </div>
    </form>
</body>
</html>
